.Servicios li a{
    background: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  .Servicios li a:hover{
    color: black;
    background: #80DEEA;
  }