body { /* Fortamto general */
  background: white;
  font-size: 16px;
}
/* formato encabezado*/
header div {
  font-size: 3em;
  font-palette: dark;
}
ul, ol{
  list-style: none;
}

.menu li a{
  background: #999999;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.menu li li{
  background: #999999;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.menu li a:hover{
  background: white;
}
.menu > li{
  display: inline-block;
}
.menu li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}
.menu li:hover > ul{
  display: block;
}
.main{
  width: 50%;
}
.main h2{
  color: white;
  background: black;
  font-style: oblique;
  font-size: 2em;
  padding: 10px;
  /* border */
}
.main h4{
  color: black;
  background: white;
  font-size: 1.5em;
  padding: 20px;
}
.main p {
  color: black;
  padding: 5px;
}
.Servicios li a{
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.Servicios li a:hover{
  color: black;
  background: white;
}
.Contactenos li{
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.Contactenos li:hover{
  color: black;
  background: white;
}
/* Formato pie de pagina*/
footer {
  width: 50%;
  background: grey;
  font-size: small;
  font-style: initial ;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.formulario{
  width: 45%;
  height: 240px;
  border: 5px solid black;
  margin-top: 50px;
  margin-left: 30%;
  background-color: #E5E8E8 ;
  position: relative;
}
.formulario p{
  font-size: 20px;
  margin-left: 10px;
}
.formulario a{
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 80%;
  border: 2px;
  background-color: #999999;
  color: black;
  font-size: 20px;
  padding: 5px;
}
.formulario a:hover{
  background-color: #80DEEA ;
}
.pregunta{
  position: absolute;
  left: 5px;
  width: 35%;
  font-size: 20px;
}
.pregunta li{
  border: 1px solid white;
  background-color: black;
  color: white;
}
.respuesta{
  position: absolute;
  left: 38%;
  width: 50%;
  font-size: 20px;
}
.respuesta li{
  border: 1px solid black;
  background-color: white;
  color: #999999;
}
